.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--blue);
    border-radius: 12px;
    width: 156px;
    height: 44px;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: var(--black);
    &&:hover, :focus{
        border: 1px solid var(--dark-blue);
    }
}